* {
  margin: 0;
  padding: 0;
}

.container{
  /* position: fixed;  */
  /* position: sticky; */
  height: 100%;
  width: 100%; 
}

.navbar {
  background-color: #00356b;
  padding-left: 10%;
  padding-top: 50px;
  text-align: left;
  font-size: 30px;
  color: grey;
  font-weight: normal;
  height: 100%;
  /*   display: inline-block; */
}

.navbarMenu {
  /* padding-top: 0px; */
  padding-bottom: 10px;
  text-align: right;
  padding-right: 30px;
  font-size: 22px;
  height: 100%;
  /*   word-spacing: 1rem; */
  /*   display: inline-block; */
}

a {
  color: grey;
  text-decoration: none;
}

.vl {
  border-left: 2px solid black;
  height: 10px;
  position: absolute;
  right: 61px;
}

ls {
  padding: 15px;
}

.fa-instagram {
  /* display: block;*/
  padding: 10px 5px; 
  font-size: 25px;
}

.fa-instagram:hover {
  /*   background-color: white; */
    /* display: block; */
  /*   font-size: 100px; */
}

a:hover {
  color: white;
}

/* .logo {
  margin: auto;
  display: block;
} */

#myHeader
{
  text-align: center;
  margin-top: 10px;
}

.vision
{
  float: right;
  position: absolute;
  right: 250px;
  bottom: 100px;
  border: solid black;
  background-color: #e3dac9;
  text-align: left;
  width: 400px;
  height: 500px;
  font-size:large;
}

p {
  text-align: center;
  margin-top: 10px;
}

.boddy{
  position:relative;
  width: 100%;
  /* height: 1000px; */
}

.backgroundImg{
  /* padding-top: 150px; */
  /* position: absolute;
  top: 10px; */
  width:inherit;
  height: 700px; 
  opacity: .7;
  background-color: #e3dac9;
}

.theirImage {
  background-color: #00356b;
  position: absolute;
  left: 200px;
  bottom: 100px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: solid #e3dac9;
}
.pictureOfThem {
  width: 400px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 50%;
}