* {
  margin: 0;
  padding: 0;
}

.container{
  /* position: fixed;  */
  width: 100%; 
}

.navbar {
  background-color: #00356b;
  padding-left: 10%;
  padding-top: 50px;
  text-align: left;
  font-size: 30px;
  color: inherit;
  /*   display: inline-block; */
}

.navbarMenu {
  /*   padding-top: 10px; */
  padding-bottom: 10px;
  text-align: right;
  padding-right: 30px;
  font-size: 22px;
  height: 100%;
  /*   word-spacing: 1rem; */
  /*   display: inline-block; */
}

a {
  color: grey;
  text-decoration: none;
}

.vl {
  border-left: 2px solid black;
  height: 6px;
  position: absolute;
  right: 41px;
}

ls {
  padding: 15px;
}

.fa-instagram {
  /* display: block;*/
  padding: 10px 5px; 
  font-size: 25px;
}

.fa-instagram:hover {
  /*   background-color: white; */
    /* display: block; */
  /*   font-size: 100px; */
}

a:hover {
  color: white;
}

/* .logo {
  margin: auto;
  display: block;
} */

#myHeader
{
  text-align: center;
  margin-top: 10px;
}

.vision
{
  /* float: right;*/
  position: absolute;
  right: 300px;
  bottom: 0px;
  border: solid black;
  background-color: #e3dac9;
  text-align: left;
  width: 300px;
  height: 400px;
}

p {
  text-align: center;
  margin-top: 10px;
}

.boddy{
  /* position:static; */
  width: 100%;
  height: 100%;
}

.img{
  /* padding-top: 150px; */
  /* position: absolute;
  top: 10px; */
  width:inherit;
  height: 800px; 
  opacity: .7;
}
