* {
  margin: 0;
  padding: 0;
}

.container{
  /* position: fixed;  */
  height: 100%;
  width: 100%; 
}

.nav{
  /* position: absolute; */
  width: 100%;
  background-color: white;
}

.Y{
  top: 11px;
  position: absolute;
  height: 125px;
  width: 100px;
  /* right: 700px; */
  display: block;
  left: 711px;
  border: solid #FEF4D4;
  border-radius: 50%;
}

.vote {
  margin-top: 0px;
  color: white;

} 

.navbar {
  background-color: #00356b;
  padding-left: 10%;
  padding-top: 50px;
  text-align: left;
  font-size: 30px;
  color: grey;
  font-weight: normal;
  height: 100%;
  /*   display: inline-block; */
}

.navbarMenu {
  /* padding-top: 0px; */
  padding-bottom: 10px;
  text-align: right;
  padding-right: 30px;
  font-size: 22px;
  height: 100%;
  
  /*   word-spacing: 1rem; */
  /*   display: inline-block; */
}

a {
  color: #FEF4D4;
  text-decoration: none;
}

/* .vl {
  border-left: 2px solid black;
  height: 10px;
  position: absolute;
  right: 61px;
} */

ls {
  padding: 15px;
}

.fa-instagram {
  /* display: block;*/
  padding: 0px 0px; 
  font-size: 25px;
}

.fa-instagram:hover {
  /*   background-color: white; */
    /* display: block; */
  /*   font-size: 100px; */
}

a:hover {
  color: black;
}

/* .logo {
  margin: auto;
  display: block;
} */

#myHeader
{
  text-align: center;
  margin-top: 10px;
}

.vision
{
  float: right;
  position: absolute;
  right: 250px;
  bottom: 100px;
  border: solid black;
  background-color: #FEF4D4;
  text-align: left;
  width: 400px;
  height: 500px;
  font-size:large;
}

p {
  text-align: center;
  margin-top: 10px;
}

.boddy{
  position:relative;
  width: 100%;
  /* height: 1000px; */
}

.backgroundImg{
  /* padding-top: 150px; */
  /* position: absolute;
  top: 10px; */
  width:inherit;
  height: 700px; 
  opacity: .7;
  background-color: #e3dac9;
}

.theirImage {
  background-color: #00356b;
  position: absolute;
  left: 200px;
  bottom: 100px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: solid #e3dac9;
}
.pictureOfThem {
  width: 400px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 50%;
}

/* .bottomDiv{
  background-color: #00356b;
  width: 100%;
  height: 100px;
} */

/* ---------------------------------------------------------------- contact.html ---------------------------------------------------------------- */

.contact{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FEF4D4;
}
form{
  width: 90%;
  max-width: 600px;
}
.input{
  margin-bottom: 30px;
}
input, textarea{
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid black;
  /* background: transparent; */
  font-size: 15px;
}

/* ---------------------------------------------------------------- aboutus.html ---------------------------------------------------------------- */

.aboutUsBody{
  background-color: #D3D3D3; 
  height: 700px;
  width: 100%;
}

.aboutus1
{
  /* float: left; */
  position: absolute;
  left: 400px;
  bottom: 100px;
  border: solid black;
  background-color: #FEF4D4;
  text-align: left;
  width: 300px;
  height: 400px;
  font-size:large;
}

.pictureOfMichael {
  border: solid black;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-top: 70px;
  margin-left: 70px;
  padding: 5px;
}
.myH
{
  text-align: center;
  margin-top: 10px;
}
.textM {
  padding: 5px;
}

.pictureOfJulian {
  float: right;
  position: absolute;
  /* top: 100px; */
  border: solid black;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  bottom: 170px;
  right: 70px;
  padding: 5px;

}

.aboutus2{
  position: absolute;
  right: 400px;
  bottom: 100px;
  border: solid black;
  background-color: #FEF4D4;
  text-align: left;
  width: 300px;
  height: 400px;
  font-size:large;
}