* {
  margin: 0;
  padding: 0;
}

.navbar { 
/*   position: fixed; */
/*   width: 100%; */
  background-color: #00356B;
  padding-left: 10%;
  padding-top: 50px;
  text-align: left;
  font-size: 30px;
  color: inherit;
/*   display: inline-block; */  
}

.navbarMenu {
/*   padding-top: 10px; */
  padding-bottom: 10px;
  text-align: right;  
  padding-right: 20px;
  font-size: 22px;
  height: 100%;
/*   word-spacing: 1rem; */
/*   display: inline-block; */
}

a {
  color: grey;
  text-decoration: none;
}

.vl
{
  border-left: 2px solid black;
  height: 6px;
  position: absolute;
  right: 41px;
}

ls {
  padding: 15px;
}

.fa-instagram {
  display: block;
  padding: 12px 10px;
  font-size: 25px;
}

.fa-instagram:hover {
/*   background-color: white; */
/*   display: block; */
/*   font-size: 100px; */
} 

a:hover {
  color: white;
}

/* .logo {
  margin: auto;
  display: block;
} */

